---
server:
  port: "${SERVER_PORT:8080}"
  servlet:
    context-path: /
  compression:
    enabled: true
  error:
    include-message: always
    include-binding-errors: always
spring:
  profiles:
    active: "${SPRING_PROFILES_ACTIVE:dev}"
  application:
    name: RootBytes
    version: 0.0.1-SNAPSHOT
  datasource:
    url: "${DATABASE_URL:jdbc:h2:file:./data/h2/rootbytes;MODE=PostgreSQL;DB_CLOSE_DELAY=-1}"
    driver-class-name: org.h2.Driver
    username: sa
    password: null
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations:
    - "classpath:db/migration/${database.type:h2}"
    validate-on-migrate: true
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
logging:
  level:
    root: INFO
management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: always
rootbytes:
  h2:
    tcp-enabled: false
