---
database:
  type: h2
spring:
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  config:
    activate:
      on-profile: dev
  jpa:
    show-sql: true
  mail:
    host: localhost
    port: 1025
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
logging:
  level:
    com.rootbytes: DEBUG
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
rootbytes:
  h2:
    tcp-enabled: true
    tcp-port: 9092
    web-port: 8082
