---
database:
  type: postgresql
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
logging:
  level:
    root: WARN
    com.github.phanikb.rootbytes: INFO
