---
database:
  type: postgresql
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
  datasource:
    url: "${DATABASE_URL:jdbc:postgresql://localhost:5432/rootbytes}"
    driver-class-name: org.postgresql.Driver
    username: "${DB_USERNAME:postgres}"
    password: "${DB_PASSWORD}"
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
logging:
  level:
    root: WARN
    com.github.phanikb.rootbytes: INFO
